section {text-align: center; margin: 20%; display: flex; justify-content: center;}
section > #main-content {position: relative;}
section > #main-content > #content-name {color: #5F2EEA; font-style: normal; font-weight: bold; font-size: 32px; line-height: 34px; letter-spacing: 1px;}
section > #main-content > #social-login-name {color: gray;}
input {background-color: #ffffff; border-radius: 16px; width: 326px; height: 64px;}
table {border-collapse: separate; border-spacing: 0 15px;}
button {margin: 3% 1%; background-color: #ffffff; border-radius: 16px; height: 65px; color:#5F2EEA; border-color: #5F2EEA;}
button:active {background-color: #5F2EEA; color:#ffffff;}
button.login {width: 150px;}
button.signup {width: 325px;}
button#kakao-login-btn{width: 183px; height: 45px; border-radius: 0px; border-color: transparent;}
button#kakao-login-btn:active{background-color: transparent; color: #ffffff; box-shadow: 5px 5px grey;}
.element {flex-direction: column;}
.label {text-align: left};
.input-area {margin-top: 30px;}
#button-area{margin-top:30px;}